html {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: white;
    background-color: #ffffff;
}

header,
main,
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

img {
    height: 300px;
    width: auto;
    padding: 20px;
}

.item {
    width: 400PX;
    height: 50px;
    margin: 35px;
    background-color: #0b0014;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* 

    ░░░░░░░░░░░░░░░░░░░
    ░░█▀ ▀█ ▀▀█ █  █ ░░
    ░░█ █ █ █   █▀█ ░░░
    ░░█   █ ▀▀▀ █  ▀ ░░
    ░░░░░░░░░░░░░░░░░░░
    ░ MzK Studio Inc. ░
    ░░░░░░░░░░░░░░░░░░░

    2024. This document is the property of MzK Studio Inc.®. All rights reserved.

    Unauthorized use, copying, or distribution of this document or any portion thereof is strictly prohibited.
*/

.item-hot {
    width: 400PX;
    height: 45px;
    margin: 35px;
    background-color: #0b0014;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
    padding: 20px;
}

footer > p > a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  padding: 0;
}

.recommended-tag {
    background-color: #3498db;
    color: black;
    font-size: 8px;
    padding: 8px;
    border-radius: 4px;
    margin: 4px;
    cursor: pointer;
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(200%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  100% {
    transform: scale(1.1);
    filter: brightness(150%);
  }
}

.item:hover, .item-hot:hover {
    background-color: #97001e;
}

p {
    font-size: small;
}
